<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Course Unenrollment Notification</title>
    <style>
      body {
        font-family: "Poppins", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        height: 100vh;
        margin: 0 auto;
        padding: 20px;
        background-color: #ff4d4d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        text-align: center;
      }
      .message {
        font-size: 18px;
        margin-bottom: 20px;
        padding-top: 50px;
      }
      .message h1 {
        font-size: 25px;
        font-weight: 600;
      }
      .course-info {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        color: #000;
        margin: 20px auto;
        box-shadow: 2px 2px 2px 2px rgba(206, 197, 197, 0.1);
      }
      .course-info h4 {
        color: #d32f2f;
        font-size: 22px;
        font-weight: 500;
      }
      .course-name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .reenroll-btn {
        display: inline-block;
        background-color: #23bd70;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
        margin-top: 20px;
      }
      .footer {
        margin-top: 100px;
        color: #fff;
      }
      .footer a {
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="message">
        <h1>You have been unenrolled from your course</h1>
        <p>
          We're sorry to see you go. If this was a mistake, you can re-enroll
          below.
        </p>
      </div>
      <div class="course-info">
        <h4>Course Details:</h4>
        <p class="course-name"><%= title %></p>
        <a href="<%= courseLink %>" class="start-btn">re-enroll</a>
      </div>
      <div class="footer">
        <p>
          Need help? Contact our support team at
          <a href="mailto:support@EDUvibe.com">support@EDUvibe.com</a>
        </p>
        <p>&copy; 2023 EDUvibe. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
